<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>
<link rel="stylesheet" href="stylesheet.css">
<script src="/index.js"></script>


<body>
    <div class="display-login">
        <h1 style="text-align: center;">Вхід успішний. Ласкаво просимо {{name}}. Ваша роль – {{role}}».</h1>
        
        <button onclick="goToAdmLink()">go to Admmin link</button>
        
          
    </div>
</body>



</html>