<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>App</title>
</head>

<body>
    <h1> here we can see all users by role:</h1>
    {{#each message}}
    
{{/each}}
</body>



</html>