<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>App</title>
</head>

<link rel="stylesheet" href="stylesheet.css">
<script src="/index.js"></script>

<body>
  <div class="display-login">
    <div class="centrino">
      <label>Login:</label>
      <input placeholder="input login" type="text" id="login-input" style="min-width: 30px;">
    </div>
    <div class="centrino">
      <label>Password:</label>
      <input placeholder="input password" type="text" id="pass-input" style="min-width: 30px;">
    </div>
    <div>
      <button onclick="login()">Login</button>
      <button onclick="register()">Register</button>
    </div>
    <div>
      <br>
      <div>
        <input type="text" id="role-input"  placeholder="Roles" list="roles">
      </div>
    </div>

    <!-- set datalist -->
    <datalist id="roles">
      {{#each roles}}
      <option value="{{this}}" />
      {{/each}}
    </datalist>
  </div>

  </div>



</body>

</html>