.display-login {
    width: 15%;
    text-align: center;
    margin: 50px auto;
   
}

.display-input {
    width: 40%;
    text-align: center;
    margin: 50px auto;
    display: flex;
}

.centrino {

    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 10px 20px;
    border-radius: 30px;
    background-color: rgb(185, 192, 94);
}





